<div ng-if="data.search" class="search-by package"><span>Search by :</span> {{data.search}}
    <div class="clearSearch" ng-click="clearSearch()"><i class="fa fa-times-circle" aria-hidden="true"></i></div>
</div>
<div ng-if="message">
    <div class="alert alert-success">{{message}}</div>
</div>
<div class="no-more-data" ng-if="packages.closedPackage.length ==0 && packages.topicPackages.length == 0 && packages.customPackage.length == 0 && packages.assignedPackage.length == 0 && packages.agentPackage.length == 0">
    There are no packages.
</div>
<div class="gridViewContent clearfix" ng-if="packages.topicPackages.length > 0">
    <div class="packTitle">Topic Package</div>
    <div class="gvc-col" ng-repeat="package in packages.topicPackages">
        <div class="gvc-container">
            <div class="photo default"></div>
            <div class="title">{{package.name}}</div>
            <div class="digit">Topics <span>{{package.topic}}</span></div>
            <div class="menuPack">
                <ul class="clearfix">
                    <li>
                        <div class="btn renew" ng-click="renewExpirey(package.id,'TOPIC_PACKAGE')">Renew</div>
                    </li>
                    <li><a class="btn delete" href="javascript:void(0)" ng-click="deleteBooking(package.id,'TOPIC_PACKAGE')"><i class="fa fa-trash-o" aria-hidden="true"></i></a></li>
                    <li><a class="btn" ui-sref="mylibrary.packagedetail({id:package.id,pack:'TOPIC_PACKAGE',name:package.name,renew:'1'})"><i class="fa fa-eye" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="gridViewContent clearfix" ng-if="packages.agentPackage.length > 0">
    <div class="packTitle">Agent Package</div>
    <div class="gvc-col" ng-repeat="package in packages.agentPackage">
        <div class="gvc-container">
            <div class="photo default"></div>
            <div class="title">{{package.name}}</div>
            <div class="digit">Topics <span>{{package.topic}}</span></div>
            <div class="menuPack">
                <ul class="clearfix">
                    <li>
                        <div class="btn renew" ng-click="renewExpirey(package.id,package.type)">Renew</div>
                    </li>
                    <li><a class="btn delete" href="javascript:void(0)" ng-click="deleteBooking(package.id,package.type)"><i class="fa fa-trash-o" aria-hidden="true"></i></a></li>
                    <li><a class="btn" ui-sref="mylibrary.packagedetail({id:package.id,pack:package.type,name:package.name,renew:'1'})"><i class="fa fa-eye" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="gridViewContent clearfix" ng-if="packages.assignedPackage.length > 0">
    <div class="packTitle">Assigned Package</div>
    <div class="gvc-col" ng-repeat="package in packages.assignedPackage">
        <div class="gvc-container">
            <div class="photo default"></div>
            <div class="title">{{package.packageName}}</div>
            <div class="digit">Topics <span>{{package.topicCount}}</span></div>
            <div class="menuPack">
                <ul class="clearfix">
                    <li>
                        <div class="btn renew" ng-click="renewExpirey(package.packageId,'ASSIGNED_PACKAGE')">Renew</div>
                    </li>
                    <li><a class="btn delete" href="javascript:void(0)"><i class="fa fa-trash-o" aria-hidden="true"></i></a></li>
                    <li><a class="btn" ui-sref="mylibrary.packagedetail({id:package.packageId,pack:'ASSIGNED_PACKAGE',renew:'1'})"><i class="fa fa-eye" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="gridViewContent clearfix" ng-if="packages.closedPackage.length > 0">
    <div class="packTitle">Closed Package</div>
    <div class="gvc-col" ng-repeat="package in packages.closedPackage">
        <div class="gvc-container">
            <div class="photo" ng-if="!package.icon" style="background-image:url({{package.icon}})"></div>
            <div class="photo default" ng-if="!package.icon"></div>
            <div class="title">{{package.curriculum}}, {{package.grade}}</div>
            <div class="digit">Chapter <span>{{package.chapter}}</span></div>
            <div class="digit">Subject <span>{{package.subject}}</span></div>
            <div class="digit">Topics <span>{{package.topic}}</span></div>
            <div class="menuPack">
                <ul class="clearfix">
                    <li>
                        <div class="btn renew" ng-click="renewExpirey(package.packageId,'CLOSED_PACKAGE')">Renew</div>
                    </li>
                    <li><a class="btn delete" href="javascript:void(0)"><i class="fa fa-trash-o" aria-hidden="true"></i></a></li>
                    <li><a class="btn" ui-sref="mylibrary.packagedetail({id:package.packageId,pack:'',renew:'1'})"><i class="fa fa-eye" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="gridViewContent clearfix" ng-if="packages.customPackage.length>0">
    <div class="packTitle">Customised Package</div>
    <div class="gvc-col" ng-repeat="package in packages.customPackage">
        <div class="gvc-container">
            <div class="photo" ng-if="!package.icon" style="background-image:url({{package.icon}})"></div>
            <div class="photo default" ng-if="!package.icon"></div>
            <div class="title">{{package.packageName}}</div>
            <div class="menuPack">
                <ul class="clearfix">
                    <li>
                        <div class="btn renew" ng-click="renewExpirey(package.packageId,'CUSTOMISED_PACKAGE')">Renew</div>
                    </li>
                    <li><a class="btn delete" href="javascript:void(0)"><i class="fa fa-trash-o" aria-hidden="true"></i></a></li>
                    <li><a class="btn" ui-sref="mylibrary.packagedetail({id:package.packageId,pack:'CUSTOMISED_PACKAGE',name:package.packageName,renew:'1'})"><i class="fa fa-eye" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div ng-if="isLoading" class="loader"></div>
