<div class="page-wrapper">
    <div class="contact-banner">
        <div class="container">
            <table>
                <tbody>
                    <tr>
                        <td>CONTACT US</td>
                        <td>Connect for Better Service</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="page container">
        <div class="clearfix contact-pg">
            <div class="col-xs-12 col-sm-6 col-md-5 col-lg-4">
                <h3>Our Contact Information</h3>
                <div class="right-contact">
                    <h4>Sterling Pixels Ltd.</h4>
                    <p>Company Number: 07899181
                        <br clear="all"> 342 Reading Road,
                        <br clear="all"> Winnersh,Wokingham,
                        <br clear="all"> Berkshire, RG41 5EJ
                        <br clear="all"> United Kingdom</p>
                    <p>Website: <a href="http://www.pixelsed.com" target="_blank">www.pixelsed.com</a>
                        <br> Email: <a href="mailto:mail@pixelsed.com" class="content-link" title="mail@pixelsed.com">mail@pixelsed.com</a></p>
                </div>
                <div class="right-contact">
                    <h4>Sterling Pixels</h4>
                    <h5>New Delhi</h5>
                    <p>A-59, Okhla Industrial Area, Phase - 2
                        <br clear="all"> New Delhi - 110020, India</p>
                    <p>Phone: <a href="tel:+91-11-40565440" class="content-link" title="tap to call">+91-11-40565440</a>
                        <br> Website: <a href="http://www.pixelsed.com" target="_blank">www.pixelsed.com</a>
                        <br> Email: <a href="mailto:mail@pixelsed.com" class="content-link" title="mail@pixelsed.com">mail@pixelsed.com</a></p>
                    <h5>Telangana</h5>
                    <p>#103, Pragati Pride, Plot no. 220, Kavuri hills,
                        <br clear="all"> Hyderabad, Telangana - 500081, India</p>
                    <p>Phone: <a href="tel:+91-040-48511666" class="content-link" title="tap to call">040-48511666</a>
                        <br> Website: <a href="http://www.pixelsed.com" target="_blank">www.pixelsed.com</a>
                        <br> Email: <a href="mailto:mail@pixelsed.com" class="content-link" title="hyderabad@pixelsed.com">hyderabad@pixelsed.com</a></p>
                </div>
                <div class="right-contact">
                    <h4>Human Resources</h4>
                    <p>To join our award-winning organisation: <a href="mailto:hr@pixelsed.com" class="content-link" title="hr@pixelsed.com">hr@pixelsed.com</a></p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-7 col-lg-8">
                <h3>Development office</h3>
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d66683.30617009087!2d77.27320949347612!3d28.55145285811001!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x73efce0b82f6c538!2sSterling+Pixels!5e0!3m2!1sen!2sin!4v1441696065403" height="600" frameborder="0" style="border:0; width:100%; height:100%; min-height:260px; max-height:450px;" allowfullscreen=""></iframe>
            </div>
        </div>
    </div>
</div>
<ul class="landing-social">
    <li>
        <a href="https://www.facebook.com/pages/Sterling-Pixels/656231841165147?ref=hl" target="_blank">
            <i class="fa fa-facebook-official" aria-hidden="true"></i>
        </a>
    </li>
    <li>
        <a href="https://twitter.com/sterlingpixels" target="_blank">
            <i class="fa fa-twitter-square" aria-hidden="true"></i></a>
    </li>
    <li>
        <a href="https://www.linkedin.com/company/sterling-pixels-pvt-ltd" target="_blank">
            <i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
    </li>
    <li>
        <a href="https://plus.google.com/+Sterlingpixels/about" target="_blank">
            <i class="fa fa-google-plus-square" aria-hidden="true"></i></a>
    </li>
    <li>
        <a href="https://www.youtube.com/user/vineetkoka" target="_blank">
            <i class="fa fa-youtube-square" aria-hidden="true"></i></a>
    </li>
</ul>
