<div class="page-wrapper landing-pg">
    <div id="BannerVid" controls="controls" class="BannerVid"></div>
    <div class="page container">
        <div class="landing-content">
            <h2>Engage learners with a 360-degree learning platform</h2>
            <p>Learn and teach with a wide bank of 3D videos, assessments, interactives, resources and lesson plans.</p>
        </div>
    </div>
</div>
<div class="landing-section learningEasy">
    <div class="container">
        <h3>Learning Made Easy</h3>
        <div class="text">Going steps ahead of the traditional textbook, Sterling Pixels uses high-definition 3D animated videos, resources and games to provide both students and teachers with digitally-linked lessons for Preschool and K-12 classes.</div>
        <div class="le-menu" id="le-menu">
            <div class="item" data-toggle="tab" data-target="#le-content-1">
                <img src="assets/images/landing-page/menu-1.png">
                <h4>Preschool</h4>
            </div>
            <div class="item" data-toggle="tab" data-target="#le-content-2">
                <img src="assets/images/landing-page/menu-2.png">
                <h4>Lower Primary</h4>
            </div>
            <div class="item" data-toggle="tab" data-target="#le-content-3">
                <img src="assets/images/landing-page/menu-3.png">
                <h4>Upper Primary</h4>
            </div>
            <div class="item" data-toggle="tab" data-target="#le-content-4">
                <img src="assets/images/landing-page/menu-4.png">
                <h4>Middle School</h4>
            </div>
            <div class="item" data-toggle="tab" data-target="#le-content-5">
                <img src="assets/images/landing-page/menu-5.png">
                <h4>High School</h4>
            </div>
        </div>
        <div class="tab-content">
            <div id="le-content-1" class="tab-pane fade">
                <h4>Preschool</h4>
                <table>
                    <tbody>
                        <tr>
                            <td colspan="2">Number of Modules</td>
                        </tr>
                        <tr>
                            <td class="text-left">Age 2+</td>
                            <td class="text-right">25</td>
                        </tr>
                        <tr>
                            <td class="text-left">Age 3+</td>
                            <td class="text-right">30</td>
                        </tr>
                        <tr>
                            <td class="text-left">Age 4+</td>
                            <td class="text-right">35</td>
                        </tr>
                    </tbody>
                </table>
                <p>For preschoolers, Sterling offers 3D animated videos that develop their social, emotional, intellectual, and language skills.</p>
            </div>
            <div id="le-content-2" class="tab-pane fade">
                <h4>Lower Primary</h4>
                <table style="background-color: #f4989d;">
                    <tbody>
                        <tr>
                            <td colspan="2">Number of Modules</td>
                        </tr>
                        <tr>
                            <td class="text-left">Maths</td>
                            <td class="text-right">06</td>
                        </tr>
                        <tr>
                            <td class="text-left">Earth Science</td>
                            <td class="text-right">26</td>
                        </tr>
                        <tr>
                            <td class="text-left">Science & Technology</td>
                            <td class="text-right">30</td>
                        </tr>
                    </tbody>
                </table>
                <p>Sterling offers modules on Science, Maths and Earth science, for Grades 1, 2 and 3.</p>
            </div>
            <div id="le-content-3" class="tab-pane fade">
                <h4>Upper Primary</h4>
                <table style="background-color: #fbaf5d;">
                    <tbody>
                        <tr>
                            <td colspan="2">Number of Modules</td>
                        </tr>
                        <tr>
                            <td class="text-left">Biology</td>
                            <td class="text-right">52</td>
                        </tr>
                        <tr>
                            <td class="text-left">Chemistry</td>
                            <td class="text-right">68</td>
                        </tr>
                        <tr>
                            <td class="text-left">Physics</td>
                            <td class="text-right">34</td>
                        </tr>
                        <tr>
                            <td class="text-left">Maths</td>
                            <td class="text-right">67</td>
                        </tr>
                        <tr>
                            <td class="text-left">Earth Science</td>
                            <td class="text-right">45</td>
                        </tr>
                    </tbody>
                </table>
                <p>Sterling offers e-learning modules on Biology, Chemistry, Physics, Maths, and Earth science for Grades 4, 5 and 6.</p>
            </div>
            <div id="le-content-4" class="tab-pane fade">
                <h4>Middle School</h4>
                <table style="background-color: #7accc8;">
                    <tbody>
                        <tr>
                            <td colspan="2">Number of Modules</td>
                        </tr>
                        <tr>
                            <td class="text-left">Biology</td>
                            <td class="text-right">102</td>
                        </tr>
                        <tr>
                            <td class="text-left">Chemistry</td>
                            <td class="text-right">114</td>
                        </tr>
                        <tr>
                            <td class="text-left">Physics</td>
                            <td class="text-right">145</td>
                        </tr>
                        <tr>
                            <td class="text-left">Maths</td>
                            <td class="text-right">72</td>
                        </tr>
                        <tr>
                            <td class="text-left">Earth Science</td>
                            <td class="text-right">33</td>
                        </tr>
                    </tbody>
                </table>
                <p>Sterling offers e-learning modules on Biology, Chemistry, Physics, Maths, and Earth science for Grades 7, 8 and 9.</p>
            </div>
            <div id="le-content-5" class="tab-pane fade">
                <h4>High School</h4>
                <table style="background-color: #88b3e0;">
                    <tbody>
                        <tr>
                            <td colspan="2">Number of Modules</td>
                        </tr>
                        <tr>
                            <td class="text-left">Biology</td>
                            <td class="text-right">73</td>
                        </tr>
                        <tr>
                            <td class="text-left">Chemistry</td>
                            <td class="text-right">138</td>
                        </tr>
                        <tr>
                            <td class="text-left">Physics</td>
                            <td class="text-right">42</td>
                        </tr>
                    </tbody>
                </table>
                <p>Sterling offers e-learning modules on Biology, Chemistry, Physics, Maths, and Earth science for Grades 10, 11 and 12.</p>
            </div>
        </div>
    </div>
</div>
<div class="landing-section our-products">
    <div class="container">
        <h3>Our Products</h3>
        <div class="learn-anywhere">
            <h4>Learn Anywhere, Anytime on</h4>
            <ul class="clearfix">
                <li><img src="assets/images/landing-page/mobile-tab.png">Mobile Phones & Tablets</li>
                <li><img src="assets/images/landing-page/desktop-tab.png">Laptop & Desktop access</li>
                <li><img src="assets/images/landing-page/other-reader.png">Other E-readers</li>
            </ul>
        </div>
        <div class="productsList clearfix">
            <div class="col pull-left">
                <h4 style="background-color:#008fd5;">High-Definition 3D Videos</h4>
                <div class="text">
                    <img src="assets/images/landing-page/video.jpg" class="icon">
                    <p>Engage learners with enthralling visuals and compelling scripts Explain concepts using 4-6 minutes video including:</p>
                    <ul>
                        <li>Learning Objectives</li>
                        <li>Summary </li>
                        <li>High-quality VO </li>
                        <li>3D Animation</li>
                    </ul>
                </div>
            </div>
            <div class="col pull-right">
                <div id="HDVid" controls="controls"></div>
            </div>
        </div>
        <div class="productsList clearfix even">
            <div class="col pull-right">
                <h4 style="background-color:#fe4445;">E-Book</h4>
                <div class="text">
                    <img src="assets/images/landing-page/epub.jpg" class="icon">
                    <p>Enable a comprehensive understanding of the concepts</p>
                    <ul>
                        <li>Related videos</li>
                        <li>Text & Images</li>
                        <li>Interactive resources</li>
                        <li>Question banks</li>
                        <li>Reference links</li>
                    </ul>
                </div>
            </div>
            <div class="col pull-left">
                <img src="assets/images/landing-page/epub_img.jpg" class="col-img">
            </div>
        </div>
        <div class="productsList clearfix">
            <div class="col pull-left">
                <h4 style="background-color:#39b54a;">Resources</h4>
                <div class="text">
                    <img src="assets/images/landing-page/resources.jpg" class="icon">
                    <p>Widen the scope of learning</p>
                    Enrich lessons with:
                    <br>
                    <ul>
                        <li>Keywords</li>
                        <li>Concept maps</li>
                        <li>Interesting facts</li>
                        <li>Reference links</li>
                        <li>Images</li>
                    </ul>
                </div>
            </div>
            <div class="col pull-right">
                <img src="assets/images/landing-page/resources_img.jpg" class="col-img">
            </div>
        </div>
        <div class="productsList clearfix even">
            <div class="col pull-right">
                <h4 style="background-color:#faa61a;">Assessments</h4>
                <div class="text">
                    <img src="assets/images/landing-page/assament.jpg" class="icon">
                    <p>Assess learners with activity-based questions</p>
                    Test the learners’ thorough understanding of the concepts through:
                    <br>
                    <ul>
                        <li>Quizes</li>
                        <li>Drag & Drop questions</li>
                        <li>Fill ups</li>
                        <li>Multi-select questions</li>
                        <li>Short and long-answer questions</li>
                    </ul>
                </div>
            </div>
            <div class="col pull-left">
                <img src="assets/images/landing-page/assament_img.jpg" class="col-img">
            </div>
        </div>
        <div class="productsList clearfix">
            <div class="col pull-left">
                <h4 style="background-color:#f06eaa;">3D Models and Interactives</h4>
                <div class="text">
                    <img src="assets/images/landing-page/3d-intractive.jpg" class="icon">
                    <p>Enable hands-on learning</p>
                    Provide a 360 degree view of the learning objects, and simulate lab experiments with:
                    <br>
                    <ul>
                        <li>3D Models</li>
                        <li>3D Simulations</li>
                    </ul>
                </div>
            </div>
            <div class="col pull-right">
                <img src="assets/images/landing-page/3d-intractive_img.jpg" class="col-img">
            </div>
        </div>
        <div class="productsList clearfix even">
            <div class="col pull-right">
                <h4 style="background-color:#5674b9;">Teacher’s Resources</h4>
                <div class="text">
                    <img src="assets/images/landing-page/teachers_resources.jpg" class="icon">
                    <p>Help plan lessons</p>
                    Design class assignments for better result with:
                    <br>
                    <ul>
                        <li>Printable worksheets</li>
                        <li>Worksheet answers</li>
                        <li>Textbooks</li>
                        <li>Learning outcomes</li>
                    </ul>
                </div>
            </div>
            <div class="col pull-left">
                <img src="assets/images/landing-page/teachers_resources_img.jpg" class="col-img">
            </div>
        </div>
    </div>
</div>
<div class="landing-section">
    <div class="container">
        <h3>Who We Are</h3>
        <div class="who-we-are">
            <div class="text">Sterling Pixels provides access to a 360o learning solution for preschool and K-12 grades to our customers around the world. Our videos and eBooks are supported by the knowledge and experience of experts in the fields of replica Science, Maths and Earth science, and allow users to learn at their own pace.</div>
            <h4>Our Aims</h4>
            <ul>
                <li>To provide educational products tailored to our customers' needs around the world</li>
                <li>To partner with schools, educational institutions, and government education departments to make the contemporary learning experience more engaging</li>
                <li>To provide easily accessible online education to students in schools, and to home learners</li>
                <li>To provide resource material for teachers to aid teaching</li>
            </ul>
            <p>Sterling Pixels' user base is spread across 16 countries and is increasing rapidly.</p>
        </div>
    </div>
</div>
<div class="landing-section contact-map">
    <div class="container">
        <h3>Delivering Customised Content Globally</h3>
        <img src="assets/images/landing-page/map.jpg">
    </div>
</div>
<div class="landing-section">
    <div class="container">
        <h3>E-Safety Tips</h3>
        <div class="row">
            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                <div class="safety-tip">
                    <img src="assets/images/landing-page/safety/zone.png" alt="Zone">
                    <p>Say no to cyber bullying. Use technology safely, positively and respectfully.</p>
                </div>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                <div class="safety-tip">
                    <img src="assets/images/landing-page/safety/think.png" alt="Zone">
                    <p>Think before posting anything hurtful or embarrassing, and before opening suspicious e-mails.</p>
                </div>
            </div>
            <div class="clearfix visible-xs"></div>
            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                <div class="safety-tip">
                    <img src="assets/images/landing-page/safety/invention.png" alt="Zone">
                    <p>Respect others’ copyrights, and take proper permissions before using someone else’s work.</p>
                </div>
            </div>
            <div class="clearfix visible-sm"></div>
            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                <div class="safety-tip">
                    <img src="assets/images/landing-page/safety/pc.png" alt="Zone">
                    <p>Do not share your personal information with strangers online or on suspicious websites.</p>
                </div>
            </div>
            <div class="clearfix visible-xs  visible-md"></div>
            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                <div class="safety-tip">
                    <img src="assets/images/landing-page/safety/icons.png" alt="Zone">
                    <p>Tell an adult if you are worried about or uncomfortable with something or someone online.</p>
                </div>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                <div class="safety-tip">
                    <img src="assets/images/landing-page/safety/big_pc.png" alt="Zone">
                    <p>Be discerning. Filter out spam, false information and suspicious persons online.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<ul class="landing-social">
    <li>
        <a href="https://www.facebook.com/pages/Sterling-Pixels/656231841165147?ref=hl" target="_blank">
            <i class="fa fa-facebook-official" aria-hidden="true"></i>
        </a>
    </li>
    <li>
        <a href="https://twitter.com/sterlingpixels" target="_blank">
            <i class="fa fa-twitter-square" aria-hidden="true"></i></a>
    </li>
    <li>
        <a href="https://www.linkedin.com/company/sterling-pixels-pvt-ltd" target="_blank">
            <i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
    </li>
    <li>
        <a href="https://plus.google.com/+Sterlingpixels/about" target="_blank">
            <i class="fa fa-google-plus-square" aria-hidden="true"></i></a>
    </li>
    <li>
        <a href="https://www.youtube.com/user/vineetkoka" target="_blank">
            <i class="fa fa-youtube-square" aria-hidden="true"></i></a>
    </li>
</ul>
