<div class="page-wrapper">
    <div class="login-banner"></div>
    <div class="page container">
        <!-- Forgot Password -->
        <div ng-if="isForgot">
            <form role="form" name="forgotpassform" ng-submit="forgotPassword()">
                <div class="login-page">
                    <div ng-if="msgError">
                        <div class="alert alert-danger">{{message}}</div>
                    </div>
                    <div class="login-title">
                        <h3>Forgot Password</h3>
                        <h4>Enter your email address below.</h4>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error': forgotpassform.otp.$dirty && forgotpassform.otp.$error.required }">
                        <input type="email" name="emailId" id="emailId" ng-model="data.emailId" placeholder="Email ID" class="form-control" autocomplete="off" required>
                        <span ng-show="forgotpassform.emailId.$dirty && forgotpassform.emailId.$error.required" class="form-error">Email ID is required</span>
                        <span ng-show="forgotpassform.emailId.$dirty && forgotpassform.emailId.$error.email" class="form-error">Invalid Email ID.</span>
                    </div>
                    <div class="form-group clearfix text-center">
                        <button type="submit" class="btn btn-orange" ng-disabled="forgotpassform.$invalid || Loading">Submit</button>
                    </div>
                </div>
            </form>
        </div>
        <!-- Check otp -->
        <div ng-if="isOTP">
            <form role="form" name="otpform" method="post" ng-submit="checkOTP()">
                <div class="login-page">
                    <div ng-if="msgError">
                        <div class="alert alert-danger">{{message}}</div>
                    </div>
                    <div class="login-title" ng-if="!Registration">
                        <h3>Enter your verification code</h3>
                        <h4>A verification code was sent via email to your email id ({{data.emailId}}). When you recive the code, enter it below.</h4>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error': otpform.code.$dirty && otpform.code.$error.required }">
                        <input type="text" name="code" id="code" ng-model="otp.code" placeholder="Please Enter OTP" class="form-control" maxlength="6" required>
                        <span ng-show="otpform.code.$dirty && otpform.code.$error.required" class="form-error">OTP is required</span>
                    </div>
                    <div class="form-group clearfix text-center">
                        <button type="submit" class="btn btn-orange" ng-disabled="otpform.$invalid || Loading">Verify</button>
                    </div>
                </div>
            </form>
        </div>
        <div ng-if="isReset">
            <form role="form" name="resetpassform" method="post" ng-submit="resetPassword()">
                <div class="login-page">
                    <div ng-if="msgError">
                        <div class="alert alert-danger">{{message}}</div>
                    </div>
                    <div class="login-title" ng-if="!Registration">
                        <h3>Reset Password</h3>
                        <h4>Please enter your new password in the fields below.</h4>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error': resetpassform.password.$dirty && resetpassform.password.$error.required }">
                        <input type="password" name="password" id="password" ng-model="reset.password" placeholder="Password" class="form-control" autocomplete="off" required>
                        <span ng-show="resetpassform.password.$dirty && resetpassform.password.$error.required" class="form-error">Password is required</span> </div>
                    <div class="form-group" ng-class="{ 'has-error': resetpassform.cpwd.$dirty && resetpassform.cpwd.$error.required }">
                        <input type="password" name="cpwd" id="cpwd" ng-model="cpwd" placeholder="Confirm Password" class="form-control" autocomplete="off" required>
                        <span ng-show="resetpassform.cpwd.$dirty && resetpassform.cpwd.$error.required" class="form-error">Confirm Password is required</span>
                    </div>
                    <div class="form-group clearfix text-center">
                        <button type="submit" class="btn btn-orange" ng-disabled="resetpassform.$invalid || Loading">Reset Password</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Forgot Password Modal Start -->
<div id="ForgotPasswordModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Forgot Password</h4>
            </div>
            <div class="modal-body">
                <!--Form Message Start-->
                <div ng-if="msgError">
                    <div class="alert alert-danger">{{message}}</div>
                </div>
                <div ng-if="msgSuccess">
                    <div class="alert alert-success">{{message}}</div>
                </div>
                <!--Form Message End-->
                <!--Forgot Passorwd Form Start-->
                <div ng-if="Forgot">
                </div>
                <!--Forgot Passorwd Form End-->
                <!--Check OTP Form Start-->
                <div ng-if="!Forgot && !Reset">
                </div>
                <!--Check OTP Form End-->
                <!--Reset Password Form Start-->
                <div ng-if="Reset">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="loader" ng-if="isLoading">Loading...</div>
